includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
    level: 6
    ignoreErrors:
        - identifier: missingType.generics
          path: app/Models/Topic.php
    excludePaths:
        - ./*/*/FileToBeExcluded.php
